@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap');

*, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --josefin-sans: 'Josefin Sans', sans-serif;
    --cesaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
}

body {
    font-family: var(--josefin-sans);
    font-size: 1rem;
}

.container {
    background: url(../images/bg-pattern-desktop.svg) no-repeat center;
    width: 100%;
}

.main {
    margin: 4rem 0 0 10rem;
    max-width: 28.125rem;
}

.section {
    display: flex;
    justify-content: space-between;
}

.section-image {
    background-image: url("../images/hero-desktop.jpg") no-repeat center;
    width: 38rem;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-box__title h1 {
    padding-top: 9rem;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1.1rem;
    font-weight: 600;
}

.section-box__image {
    display: none;
}

.box-title__top {
    font-weight: 300;
    color: var(--cesaturated-red);
}

.section-box__text {
    line-height: 1.5rem;
    color: var(--cesaturated-red);
    margin: 2.5rem 0;
}
.section-box__form {
    position: relative;
}

.section-box__form input {
    text-indent: 2rem;
    width: 27.8125rem;
    height: 4.1875rem;
    border: 0.0625rem solid var(--cesaturated-red);
    border-radius: 2rem;
}

.section-box__form label:before {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    right: 25%;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../images/icon-error.svg);
    opacity: 0;
}

.section-box__form input::placeholder {
    color: var(--cesaturated-red);
}

.section-box__label {
    position: relative;
}

.section-box__form button {
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    height: 4.1875rem;
    width: 6.25rem;
    border-radius: 2rem;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.section-box__form button:hover {
    background: #facecf;
    box-shadow: 0px 5px 20px 0px hsl(0, 78%, 91%);
}

.error-message {
    padding: 0.75rem 0 0 2rem;
    color: #fe6869;
    opacity: 0;
}
.error-message__active {
    opacity: 1;
}

.wrong-label:before {
    opacity: 1 !important;
    transition: .3s;
}

.wrong-input {
    border: 0.125rem solid #fe6869 !important;
}

footer .attribution {
    font-size: 0.75rem;
    text-align: center;
}

footer a {
    text-decoration: none;
}